# Database Configuration
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=room_discovery
DATABASE_URL_OVERRIDE=

# Core Application Security
SECRET_KEY=your_secret_key_here

# Redis Configuration (Local or Cloud Upstash/Azure)
REDIS_URL=redis://localhost:6379/0

# Cloudinary Presigned Photo Uploads
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Gmail SMTP Credentials
SMTP_USERNAME=Company_gmail
SMTP_PASSWORD=Company_gmail_password
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_TLS=True
SMTP_SSL=False
