POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_DB=room_discovery

# Gmail SMTP Credentials
SMTP_USERNAME=Company_gmail
SMTP_PASSWORD=Company_gmail_password

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_TLS=True
SMTP_SSL=False
